<div class=" mb-1">
    <a *ngIf="showRemove" class="remove-button" title="remove" (click)="toggelWishList()">
        <mat-icon class="remove-icon" [ngClass]="{selected: dataCenter.isSelcted(bookItem?.id)}">close</mat-icon>
    </a>
    <div (click)="doClick()" class="d-flex">
        <img src="{{bookItem?.volumeInfo?.imageLinks?.smallThumbnail}}" class="mr-3" alt="...">
        <div class="media-body">
            <h3 class="mt-0 mb-1">{{bookItem?.volumeInfo.title}}</h3>
            <div class="book-info">
                <p class="type m-0">Authors</p>
                <p *ngFor="let author of bookItem.volumeInfo.authors" class="text-muted m-0">{{author}}</p>
            </div>
            <div class="book-info">
                <p class="type m-0">Published In</p>
                <p class="text-muted m-0">{{bookItem?.volumeInfo?.publishedDate}}</p>
            </div>
            <div class="book-info">
                <p class="type m-0">Pages</p>
                <p class="text-muted m-0">{{bookItem?.volumeInfo?.pageCount}}</p>
            </div>
        </div>
    </div>

</div>
